<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.punttilaskuri">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Punttilaskuri">
        <activity android:name=".ExerciseCalories"></activity>
        <activity android:name=".TrainingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.punttilaskuri.CalendarActivity" />
        </activity>
        <activity android:name=".CalorieCalculator">
            <intent-filter>
                <action android:name="com.example.punttilaskuri.CalorieCalculator" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.punttilaskuri.CalculatorActivity" />
        </activity>
        <activity android:name=".CreatedTrainingsActivity">
            <intent-filter>
                <action android:name="com.example.punttilaskuri.CreatedTrainingsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.punttilaskuri.TrainingActivity" />
        </activity>
        <activity android:name=".DayActivity">
            <intent-filter>
                <action android:name="com.example.punttilaskuri.DayActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.punttilaskuri.CalendarActivity" />
        </activity>
        <activity android:name=".CalculatorActivity">
            <intent-filter>
                <action android:name="com.example.punttilaskuri.CalculatorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.punttilaskuri.MainActivity" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:theme="@style/Theme.Punttilaskuri.NoActionBar">
            <intent-filter>
                <action android:name="com.example.punttilaskuri.CalendarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.punttilaskuri.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>